<%= text_field_tag 'symbol' %>
<%= button_tag 'Add Symbol' %>

<div id='stocks'>

  <% @stocks.each do |stock| -%>
  <div class="stock" data-ticker="<%= stock.name %>" data-updated="false">
  </div>
  <% end -%>

</div>
